In [9]:
import pandas as pd
import numpy as np
import os

In [10]:
# Specify the path to the predictions
FILE_LOCATION = "../../../data/evaluation/dataset_custom_rendu_final/xgb_qrf/predictions.csv"
NUMBER_OF_WEEK = 4
BOUNDS = ["inf", "pred", "sup"]

In [11]:
# Load predictions
predictions = pd.read_csv(FILE_LOCATION)

In [12]:
predictions

,station_code,week_0_pred,week_0_sup,week_0_inf,week_1_pred,week_1_sup,week_1_inf,week_2_pred,week_2_sup,week_2_inf,week_3_pred,week_3_sup,week_3_inf,ObsDate
0,6119020,43.418545,97.297985,13.047773,40.004063,88.037077,16.844220,33.954506,65.158792,22.031220,28.686844,88.083977,13.032558,2004-02-01
1,6119020,17.975187,30.435987,6.467844,19.555487,44.998344,6.832630,18.424662,47.858947,3.614662,21.000952,56.429523,9.488965,2004-04-25
2,6119020,15.750715,29.330715,9.049287,12.736576,24.567805,6.111519,10.586388,33.893530,6.573388,10.057945,27.007945,6.719517,2004-07-18
3,6119020,3.455796,4.293511,2.578225,3.782652,6.346937,2.712326,4.827226,25.461797,1.075797,5.810784,45.602213,0.693641,2004-10-10
4,6119020,16.801868,39.663297,10.083011,16.732105,31.814091,9.237091,14.961998,36.984984,4.824127,14.780368,29.709068,8.825272,2005-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385,56992400,518.854370,1003.168267,353.392353,594.826599,1716.104441,82.657509,525.604370,1134.543040,100.943270,497.236115,627.066039,436.299986,2014-04-20
1386,56992400,287.711639,373.005372,233.181644,295.880920,436.700632,172.528308,292.894775,392.986745,74.192533,295.112579,371.192736,219.445321,2014-07-13
1387,56992400,184.345398,305.485998,121.277427,179.856125,311.650472,109.924853,225.728302,343.789876,98.511153,254.200562,411.862767,122.160866,2014-10-05
1388,56992400,1084.066284,2023.293791,646.896926,1079.785889,2319.979504,587.403426,920.070190,3178.056918,226.146390,811.196716,2200.277322,296.324429,2014-12-28
1389,56992400,334.051910,722.015642,199.534612,705.157166,1313.044048,235.589507,497.924896,1182.979825,284.037549,495.933746,744.924289,397.836845,2015-03-22

### Check NaN values

In [13]:
print(f"Predictions contains {predictions.isna().sum().sum()} NaN values")

Predictions contains 0 NaN values

### Check Negative values

In [14]:
for i in range(1, NUMBER_OF_WEEK):
    for bound in BOUNDS:
        col_to_check = f"week_{i}_{bound}"
        negative_count = predictions[predictions[col_to_check] < 0].count().sum()
        print(f"Week {i} {bound} predictions contains {negative_count} negative values")

Week 1 inf predictions contains 0 negative values
Week 1 pred predictions contains 0 negative values
Week 1 sup predictions contains 0 negative values
Week 2 inf predictions contains 0 negative values
Week 2 pred predictions contains 0 negative values
Week 2 sup predictions contains 0 negative values
Week 3 inf predictions contains 0 negative values
Week 3 pred predictions contains 0 negative values
Week 3 sup predictions contains 0 negative values

### Check Negative values

In [15]:
predictions.shape

(1390, 14)

In [16]:
for i in range(1, NUMBER_OF_WEEK):
    col_prefix = f"week_{i}_"
    overlap_count = predictions[predictions[col_prefix + BOUNDS[0]] > predictions[col_prefix + BOUNDS[1]]]
    print(f"Week {i} {bound} predictions contains {overlap_count} overlap values")

Week 1 sup predictions contains Empty DataFrame
Columns: [station_code, week_0_pred, week_0_sup, week_0_inf, week_1_pred, week_1_sup, week_1_inf, week_2_pred, week_2_sup, week_2_inf, week_3_pred, week_3_sup, week_3_inf, ObsDate]
Index: [] overlap values
Week 2 sup predictions contains Empty DataFrame
Columns: [station_code, week_0_pred, week_0_sup, week_0_inf, week_1_pred, week_1_sup, week_1_inf, week_2_pred, week_2_sup, week_2_inf, week_3_pred, week_3_sup, week_3_inf, ObsDate]
Index: [] overlap values
Week 3 sup predictions contains Empty DataFrame
Columns: [station_code, week_0_pred, week_0_sup, week_0_inf, week_1_pred, week_1_sup, week_1_inf, week_2_pred, week_2_sup, week_2_inf, week_3_pred, week_3_sup, week_3_inf, ObsDate]
Index: [] overlap values